body {
  min-width: 1200px;
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;

  font-weight: 500;
  color: #000000;

  border-radius: 3px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-header {
  padding: 49px 0 18px;

  background-color: #eeeeee;
}

.main-header h1 {
  margin: 77px 0 100px;

  text-align: center;

  outline: 3px solid #1cf040;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation {
  display: flex;
  justify-content: space-between;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation ul {
  margin: 0;
  padding: 27px 0 0;
}

.main-navigation img {
  display: block;
}

.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.8;
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 485px;
  margin-right: 45px;
}

.site-navigation li,
.user-navigation li {
  margin-left: 45px;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 160px;
}

.cart {
  position: relative;
  padding-left: 41px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 0px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
}


/*Стили внутренней страница*/


.inner-page h1 {
  margin: 0 auto;
  margin-bottom: 116px;

  font-size: 55px;
  line-height: 55px;
}

.inner-page-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.filters {
  width: 260px;
}

.filter fieldset {
  margin: 0 0 25px;
  padding: 0;

  border: none;
}

.filter legend {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  line-height: 20px;
  color: #283136;
}

.filter li {
  margin-bottom: 20px;
}

.filter-input + label {
  position: relative;

  padding-left: 36px;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-item {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input + label:hover::before,
.filter-input:focus + label::before {
  opacity: 1;
}

.filter-input:disabled + label::before {
  opacity: 0.1;
}

.filter-input-radio + label::before {
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox + label::before {
  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filters button {
  color: #000000;

  background-color: #eeeeee;
  border: 3px solid #eeeeee
}

.templates {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin-bottom: 60px;
  padding-top: 40px;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
}

.templates-list li:nth-child(even) {
  margin-left: 40px;
}

.templates-list li {
  position: relative;

  display: block;
  width: 360px;
  margin-bottom: 75px;
  padding: 40px 0 0;

  background-color: rgba(77, 77, 77, 0.12);

  border-radius: 4px;
}
.templates-list li::before {
  content: "";

  width: 14px;
  height: 14px;

  box-shadow:
   inset 0 5px 0 10px #00aa62,
   inset 0 5px 0 10px #d4180a;
  border-radius: 50%;
}

.templates-list li:hover::before,
.templates-list li:focus::before {
  opacity: 1;

  /*При наведении фон не меняется*/

  background-color: #4d4d4d;
}

.templates-info {
  position: absolute;
  bottom: 6px;

  display: none;
  width: 240px;
  height: 231px;
  padding: 0 60px;

  text-align: center;

  background-color: #eeeeee;
}

.templates-list > li:hover .templates-info {
  display: block;
}

.templates-info h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.templates-info p {
  margin-bottom: 40px;

  line-height: 18px;
  color: #666666;
}

.templates-info .button {
  padding: 19px 60px 19px 62px;
}

.pagination-list {
  display: flex;
  width: 460px;
  min-height: 50px;
  margin: 0;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  padding: 13px 19px;

  background-color: #eeeeee;
  border: 3px solid #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus,
.filters button:hover,
.filters button:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination-item a:active,
.filters button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  border: 3px solid #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  padding: 13px 19px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
  box-shadow: none;
}

.pagination-next-page a,
.filters .button {
  padding: 13px 78px;

  text-transform: uppercase;

  border: 3px solid #eeeeee;
}


/* Стили главной страницы */

.slider {
  position: relative;

  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  margin: 0;
  margin-bottom: 38px;
}

.slider .button {
  padding: 17px 54px 15px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  transform: translateX(-50%);
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.services {
  margin-bottom: 40px;
}

.services-list {
  display: flex;
}

.services-list li {
  width: 300px;
  margin-right: 100px;
}

.service {
  width: 300px;
}

.service-site::before {
  content: url("../img/web.jpg");
}

.service-apps::before {
  content: url("../img/apps.jpg");
}

.service-present::before {
  content: url("../img/present.jpg");
}

.service h3 {
  margin: 0;
  padding-top: 25px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service p {
  margin-bottom: 35px;
}

.service a {
  display: inline-block;
  margin-bottom: 80px;
}

.service .button {
  padding: 17px 40px;

  color: #ffffff;
}

.service .button:active {
  color: rgba(255, 255, 255, 0.3);
}

.service-apps .button {
  background-color: #00ca74;
}

.service-apps .button:hover,
.service-apps .button:focus {
  background-color: #00bc6c;
}

.service-apps .button:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.service-present .button {
  background-color: #efc84a;
}

.service-present .button:hover,
.service-present .button:focus {
  background-color: #eab534;
}

.service-present .button:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.about-us-wrapped {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;

  outline: 3px solid red;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 660px;
}

.about-us b {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-our-servies li {
  margin-bottom: 30px;
}

.efficiency-wrapped {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  padding-bottom: 20px;

  outline: 3px solid rgba(17, 97, 218, 0.3);
}

.efficiency-wrapped::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../img/nerd2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.efficiency-wrapped h3 {
  margin-top: 250px;
  margin-bottom: 50px;

  outline: 3px solid rgba(86, 131, 199, 0.3);
}

.about-our-efficiency tr {
  outline: 3px solid rgba(24, 179, 50, 0.3);
}

.efficiency {
  padding-bottom: 30px;

  font-size: 45px;
  line-height: 10px;
  vertical-align: middle;

  outline: 3px solid rgba(17, 97, 218, 0.3);
}

.about-our-efficiency span {
  font-size: 30px;
  vertical-align: super;
}

.clients-list {
  display: flex;
  margin-bottom: 80px;
  padding-top: 65px;
  padding-bottom: 65px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.clients-list li {
  width: 25%;
  height: 52px;

  text-align: center;
}

.clients-list li:not(:nth-child(4n)) {
  border-right: 2px solid #eeeeee;
}

.clients-list a {
  position: relative;
  top: -15px;

  opacity: 0.2;
}

.clients-list a:hover,
.clients-list a:focus {
  opacity: 1;
}

.clients-list a:active {
  opacity: 0.1;
}

.contacts {
  margin-bottom: 70px;

  outline: 2px solid rgba(216, 156, 156, 0.5);
}

.contact-us {
  width: 319px;

  outline: 2px solid #447f9e;
}

.contact-us b {
  padding: 48px 77px 32px 50px;

  font-weight: 700px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-us p {
  padding-right: 68px;
  padding-left: 50px;
}

.contact-us .button {
  padding: 19px 45px;
}

.main-footer {
  display: flex;
  align-items: center;
  margin-bottom: 70px;

  outline: 3px solid goldenrod;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin-right: 140px;

  outline: 3px solid yellowgreen;
}

.social-link {
  display: block;
  position: relative;
  width: 78px;
  height: 78px;

  background-color: #e1e1e1;
  background-repeat: no-repeat;
  border-radius: 100px;
}

.social-vk {
  margin: 0;
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-vk::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../img/vk-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-vk:active::before {
  opacity: 0.3;
}

.social-fb::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../img/fb-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-fb:active::before {
  opacity: 0.3;
}

.social-list .social-inst::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../img/insta-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-inst:active::before {
  opacity: 0.3;
}

.social-list .social-inst:active::before {
  opacity: 0.3;
}

.footer-benefit {
  margin-left: 139px;

  outline: 3px solid red;
}

.footer-benefit b {
  font-size: 36px;
  line-height: 36px;
}

.modal-write-us {
  max-width: 960px;
  margin: 0 auto;

  outline: 3px dotted #00aa62;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  padding: 0 80px;
}

.write-us-form b {
  padding-right: 250px;
}

.write-us-form .write-item {
  width: 360px;
  margin: 0;
  margin-bottom: 34px;
}

.write-us-form p label{
  display: block;
  margin-bottom: 9px;
}

.write-item input {
  width: 360px;
  padding: 16px 20px 18px 14px;

  box-sizing: border-box;
}

.write-us-letter {
  width: 760px;
  margin: 0;
  margin-bottom: 47px;
}

.write-us-letter textarea {
  width: 760px;
  padding: 13px 20px 85px 13px;

  box-sizing: border-box;
}

/*--------*/

.write-us-form .cross {
  margin: 78px 0 53px;
}

.write-us-form b {
  margin: 66px 0 36px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.write-us-form .cross {

  background-color: #ffffff;
  border: none;

  opacity: 0.3;
}

.write-us-form .cross:hover,
.write-us-form .cross:focus {
  opacity: 1;
}

.write-us-form .cross:active {
  opacity: 0.1;
}

.write-us-form fieldset {
  border: none;
}

.write-us-form .field {
  font: inherit;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: 2px solid;
}

.write-us-form .field:hover {
  border-color: #b4b9bb;
}

.write-us-form .field:focus {
  border-color: #000000;
}

.write-us-form .field:invalid {
  color: #e74246;
}

.write-us-form .button {
  margin-bottom: 84px;
  padding: 19px 85px 15px 83px;

  line-height: 18px;
}


